video:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.overlayContent {
  @apply flex flex-col items-center justify-evenly font-semibold px-5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  margin-top: -75px;
  margin-left: -150px;
  background: white;
  border-radius: 8px;
  color: #565656;
}

.dialogButton {
  font-size: 18px;
  line-height: 18px;
  background: #f7f7f7;
  border: 1px solid #565656;
  border-radius: 18px;
  padding: 14px;
}

.right {
  background: #dc744d;
  border: 1px solid #dc744d;
  color: white;
}
