@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 32px;
}
* {
  -webkit-user-drag: none;
  user-select: none;
}
body {
  @apply !text-base min-h-screen;
  color: #6a6868 !important;
}

@media screen and (max-width: 750px) {
  :root {
    font-size: calc(100vw / 23.4375);
  }
}
